<main role="main">
    <!--<div class="video-bg" style="background-image: url(assets/img/);">-->
    <section class="bg-dark py-5">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-6 align-self-center">
                    <h1 class="mb-4">UX/UI DESIGN & <br><span class="font-weight-bold">FRONT-END</span></h1>
                    <p class="lead text-muted mb-4">Un desarrollador web, UI/UX y frontend es responsable de aplicar los principios de diseño interactivo y visual en sitios web y aplicaciones web para una experiencia de usuario positiva y coherente.</p>

                </div>
                <div class="col-lg-6">
                    <img src="assets/img/iPhone-7_final_black.gif" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    <br>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                    <img src="assets/img/UX_IMAGEN.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="lead text-muted">Resultado en la meta</h5>
                        <p class="card-text">Me gusta charlar con los usuarios, saber como piensan, que les gusta, comprender sus gustos, las sensaciones, este es el inicio de un proyecto pensado para humanos, en pocas palabras UX es la emoción del usuario.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="assets/img/UI_IMAGEN.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="lead text-muted">Fácil para el usuario</h5>
                        <p class="card-text">Me enfoco en lo que realmente importa en un diseño de interfaz, mostrar los botones en la posición exacta, los colores, la estructura, la arquitectura de contenidos son muy importantes y definitivos para el éxito de un producto.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="assets/img/FRONT_IMAGEN.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="lead text-muted">Híbrido Diseño-Frontend</h5>
                        <p class="card-text">Pienso de manera personal, que un diseñador debe conocer desarrollo frontend, no solo para una buena comunicación con el equipo de desarrollo, si no también para poder diseñar mejores productos. Soy un diseñador que codifica.</p>
                    </div>
                </div>
            </div>
        </div>










        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Creo en el diseño pensado. <span class="featurette-heading-weight-bold"><strong>DESIGN THINKING</strong></span></h2>
                <p class="lead">La metodología de trabajo que implemento ayuda a desarrollar productos y servicios innovadores desde una perspectiva más humana. Design Thinking es el pensamiento de diseño que hace referencia a los procesos cognitivos, estratégicos y
                    prácticos mediante los cuales se elaboran los conceptos relacionados con el diseño.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/wireframe.jpg" alt="First slide">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">A cerca de<span class="font-weight-bold"><strong> mi..</strong></span></h2>
                <p class="lead">Soy un híbrido entre el diseño y el desarrollo frontend, mi pasión por el diseño y el desarrollo comenzó desde hace aproximadamente 18 años cuando hice mi primera página en frontpage para un cliente, luego llego Macromedia Flash de Adobe,
                    era lo máximo, con flash trabajé para muchos clientes, uno de ellos fue Larouse al cual le diseñe una presentación multimedia, desde aquí inicio mi pasión por todo lo referente al diseño. Por cierto tambíen soy amante 100% del deporte,
                    la fotografía, un autodidacta incansable, me gusta la investigación de todo tipo pero en especial me fascina el tema de Inteligencia articial y la automatización.</p>
            </div>

            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/mi.png" alt="First slide">

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <!-- GALERIA DE EXPERIENCIA -->


        <section class="d-flex py-2">
            <div class="container align-self-center">
                <div class="w-75 text-center mx-auto mb-5">
                    <h2 class="text-center"><strong>Mi experiencia en algunas</strong><span class="font-weight-bold"> compañías</span></h2>
                    <p class="lead text-muted">Durante todos estos años he trabajado para pequeñas y grandes compañías en algunas como freelance, en otras tiempo completo y hasta cree mi propia agencia de diseño llegando a grandes clientes como HOCOL, Lexmark entre otros. </p>
                </div>
            </div>
        </section>

        <div class="card-columns">
            <div class="card">
                <img src="assets/img/descarga.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="font-weight-bold">Tata Consultancy Services</h5>
                    <p class="card-text"><strong>Diseñador - UX/UI</strong><br>Apoyo en el proyecto Test Automation diseñando piezas gráficas, videos, Proceso completo de UX/UI de proyecto web BANKTEST.</p>
                    <p class="card-text"><small class="text-muted">Actualmente</small></p>
                </div>
            </div>
            <div class="card p-3">
                <h5 class="font-weight-bold">Conteco</h5>
                <blockquote class="blockquote mb-0 card-body">
                    <p><strong>Director en desarrollo web</strong> <br> Dirección, desarrollo y administración de 75 portales web bajo CMS Joomla para la Cámara de Comercio de Bogotá y la alcaldía local del Restrepo.<br> Desarrollo de portal web de empleos
                        bajo CMS Joomla para la ULDE LOS MARTIRES.<br> Implementación y administración de Google Analytics.
                    </p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                    De 14/02/2010 a 10/09/2012
                  </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card">
                <img src="assets/img/wireframe3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="font-weight-bold">Tecnologías XUE </h5>
                    <p class="card-text"><strong>Director de proyectos</strong><br> Desarrollos web en HTML 5, Wordpress, Joomla, Bootstrap y prestashop.<br> Instalación, configuración, parametrización y soporte técnico de software biométrico.<br> Parametrización de AWS Amazon
                        Web Services para la instalación del software biométrico control de acceso y asistencia.<br> Director de proyectos en tecnologia biométrica.
                    </p>
                    <p class="card-text"><small class="text-muted">De 20/10/2012 a 29/10/2019</small></p>
                </div>
            </div>
            <div class="card bg-dark text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                    <p>Como diseñador es importante hablar el idioma de desarrollador</p>
                    <footer class="blockquote-footer text-white">
                        <small>
                    Frase inspirada.. <cite title="Source Title">Omar Macías</cite>
                  </small>
                    </footer>
                </blockquote>
            </div>
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="font-weight-bold">Visualmedia PUB</h5>
                    <p class="card-text"><strong>Director de diseño y desarrollo web</strong><br> Diseño/desarrollo de portales web y landing page.<br> Webmaster para la compañía Biomax.<br> Diseño de piezas publicitarias para la compañìa Industrias Japan S.A., desarrollos
                        en php y Mysql.<br> Desarrollos varios (html5, css, javascritp, Codificar en html y css piezas (email-marketing) para la compañía ADE Publicidad S.A.
                    </p>
                    <p class="card-text"><small class="text-muted">De 16/10/2008 a 19/01/2010</small></p>
                </div>
            </div>
            <div class="card">
                <img src="assets/img/diagrama.jpg" class="card-img-top" alt="...">
            </div>

        </div>

        <hr class="featurette-divider">




        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Skills como <span class="font-weight-bold">diseñador y desarrollador frontend</span></h2>
                <p class="lead">Mi kit de herramientas: Diseño gráfico: Photoshop, Illustrator, After Effecs y Character animator, en UX/UI: Adobe XD y Sketch, Frontend: Html5, CSS, Bootstrap y Angular.<br> Conozco algunos programas de backend como: PHP, MySQL y Firebase
                    (nivel básico) y estoy preparandome para poder iniciar con Javascript, Ionic y Procesadores SASS / LESS.
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/skills.jpg" alt="First slide">
            </div>
        </div>

        <br>
        <br>




    </div>
    <!-- /.container -->


</main>